AccessModifierOffset: -1
SpacesBeforeTrailingComments: 2
NamespaceIndentation: All
SortIncludes: false
PointerAlignment: Middle
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: false