include README.rst AUTHORS.txt requirements/minimal.txt CMakeLists.txt pyproject.toml
recursive-include  src *
recursive-include  bindings *
recursive-include  cmake *
recursive-include  src *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
