# python library
numpy
scipy
jupyter
sympy>=1.4
skcosmo
# notebook tutorials
matplotlib
# Developers tools for compiling documentation
sphinx>=2.1.2,<=4.0.2
breathe>=4.14.1
# Jinja2 v3 breaks nbsphinx
jinja2==2.11.3
MarkupSafe==2.0.1
sphinx_rtd_theme
# notebook tutorials
nbsphinx>=0.8.1
pygments>=2.4.1
# Developers tools for linting and formatting
cpplint==1.5.5
black==22.3.0
# Developers tools - data generation scripts
ase
mpmath
py-ubjson
# Developers tools - testing
pytest
nbval
