# python library
numpy
scipy
jupyter
# notebook tutorials
matplotlib
#qml
# tqdm
# for documentation
sphinx==4.0.1
breathe==4.30.0
jinja2==2.11.3
sphinx_rtd_theme
nbsphinx==0.8.5
pygments==2.9.0
docutils==0.17
cpplint==1.5.5
black==20.8b1
# Developers tools - data generation scripts
ase
mpmath
py-ubjson
# Developers tools - testing
pytest
nbval
