# python library
numpy
scipy
jupyter
# notebook tutorials
matplotlib
#qml
# tqdm
# for documentation
sphinx>=2.1.2
breathe>=4.14.1
sphinx_rtd_theme
nbsphinx>=0.8.1
pygments>=2.4.1
# Weird bug in latest version (0.17) of docutils; can remove once fixed
docutils==0.16
# Developers tools - code formatting
cpplint
black==20.8b1 
# Developers tools - data generation scripts
ase
mpmath
py-ubjson
